/* CSS Document */

body{ 
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:12px; 
	color:#000000;	
	margin-top:10px; 
	margin-bottom:10px; 
	margin-right:0px; 
	margin-right:0px; 
	text-decoration:none;
}

.textbox{
	BORDER-RIGHT: #626262 1px solid; 
	BORDER-TOP: #626262 1px solid; 
	BORDER-LEFT: #626262 1px solid;	 
	BORDER-BOTTOM: #626262 1px solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	BACKGROUND-COLOR: #FFFFFF; 
	width:300px; 
	height:20px;

}
.checkbox{
	width:14px; 
	height:14px;

}
.radio{
    float: left;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	width:14px; 
	height:14px;
	vertical-align: middle;

}



.textboxs{
	BORDER-RIGHT: #626262 1px solid; 
	BORDER-TOP: #626262 1px solid; 
	BORDER-LEFT: #626262 1px solid;	 
	BORDER-BOTTOM: #626262 1px solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	BACKGROUND-COLOR: #FFFFFF; 
	width:144px; 
	height:18px;

}

.textArea{
	BORDER-RIGHT: #626262 1px solid; 
	BORDER-TOP: #626262 1px solid; 
	BORDER-LEFT: #626262 1px solid;	 
	BORDER-BOTTOM: #626262 1px solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	BACKGROUND-COLOR: #FFFFFF; 
	width:300px;
	height:100px; 
}

.login_textbox{
	BORDER-RIGHT: #ABABAB 1px solid; 
	BORDER-TOP: #ABABAB 1px solid; 
	BORDER-LEFT: #ABABAB 1px solid;	 
	BORDER-BOTTOM: #ABABAB 1px solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	BACKGROUND-COLOR: #FFFFFF; 
	width:183px; 
	height:19px;

}
div#loadingAnimation
{
	position:absolute;
	display:none;
	z-index:1003;
}
.mid_tabl_txt{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:12px; 
	color:#012F63; 
	text-decoration:none; 	
}

.mid_tabl_bg{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:12px; 
	BORDER-RIGHT: #CBE8FF 2px solid; 
	BORDER-LEFT: #CBE8FF 2px solid; 
	background-image:url(../images/index_84.gif); 
	background-repeat:repeat-x; 
	background-color:#EBF7FF;
}

.mid_tabl_dwn_bg{ 
	background-image:url(../images/index_83.gif); 
	background-repeat:repeat-x; 
	height:7px;
}

.nav_bg{
	background-image:url(../images/index_06.gif); 
	background-repeat:repeat-x; 
	height:37px;
}

.srch_bg{
	background-image:url(../images/index_23.gif); 
	height:51px; 
	background-repeat:repeat-x;
}

.sign_tabl_dwn_bg{
	background-image:url(../images/index_88.gif); 
	height:7px; 
	background-repeat:repeat-x;
}

.sign_tabl_bg{
	BORDER-RIGHT: #FCDC9F 2px solid; 
	BORDER-LEFT: #FCDC9F 2px solid; 
	background-image:url(../img/index_90.gif); 
	background-repeat:repeat-x; 
	background-color:#FFDE99;
}

.login_link{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:12px; 
	color:#784800;
	padding-right:25px;
	text-decoration:underline; 
}

.login_link:hover{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:12px; 
	color:#784800;
	padding-right:25px; 
	text-decoration:none; 
}

.content_tabl_dwn_bg{
	background-image:url(../images/index_65.gif); 
	background-repeat:repeat-x; 
	height:6px;
}

.content_tabl_bg{
	BORDER-RIGHT: #D8EEFE 2px solid; 
	BORDER-LEFT: #D8EEFE 2px solid; 
	background-image:url(../images/index_93.gif); 
	background-repeat:repeat-x; 
	background-color:#FFFFFF;
}

.sep{
	background-image:url(../images/index_94.gif); 
	background-repeat:repeat-x; 
	height:2px; 
	padding-top:5px; 
	padding-bottom:5px;
}

.content_link{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:12px; 
	color:#0851A4; 
	font-weight:bold;
	padding-right:25px; 
	text-decoration:underline; 
}

.content_link:hover{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:12px; 
	color:#0851A4; 
	font-weight:bold;
	padding-right:25px; 
	text-decoration:none; 
}

.ftr_top_bg{
	background-image:url(../images/index_71.gif); 
	height:6px; 
	background-repeat:repeat-x;
}

.ftr_btm_bg{
	background-image:url(../images/index_79.gif); 
	height:6px; 
	background-repeat:repeat-x;
}

.ftr_bg{
	background-image:url(../images/index_95.gif); 
	background-repeat:repeat-x;
	background-color:#A8D7FD;
	BORDER-RIGHT: #BBDEFA 2px solid; 
	BORDER-LEFT: #BBDEFA 2px solid; 

}

.ftr_txt{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:12px; 
	color:#074E8A; 
	text-decoration:none; 

}

.ftr_link{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:12px; 
	color:#074E8A; 
	text-decoration:none; 

}
	
.ftr_link:hover{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:12px; 
	color:#074E8A; 
	text-decoration:underline; 
}

.ftr_link2{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:12px; 
	color:#000000; 
	text-decoration:none; 

}
	
.ftr_link2:hover{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:12px; 
	color:#000000; 
	text-decoration:underline; 
}

#container {
margin:0pt;
text-align:left;
width:100%;
}

#header-container {
height:118px;
width:100%;
}
#logo-header {
background:#7ABCD6;
height:68px;
width:100%;
}
.copyright_txt{ 
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:12px; 
	color:#BFBFBF;
	text-decoration:none; 
}

.copyright_link{ 
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:12px; 
	color:#BFBFBF;
	text-decoration:none; 
}

.copyright_link:hover{ 
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:12px; 
	color:#868686;
	text-decoration:underline; 
}


/* CSS Developed for the Inner Page HTML Dated 070705 */

.inner_top_bg{ background-image:url(../images/inner_05.gif); background-repeat:repeat-x;}
.inner_btm_bg{ background-image:url(../images/inner_22.gif); background-repeat:repeat-x;}

.left_bdg_bg{background-image:url(../images/inner_14.gif); height:26px; background-repeat:repeat-x;}

.inner_left_hdg{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:13px; 
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:none; 
}

.lft_link{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:bold;
	color:#D26B0F;
	text-decoration:none; 
}

.lft_link:hover{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:bold;
	color:#165D98;
	text-decoration:underline; 
}

.astrick{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:12px; 
	color:#B10916;
	text-decoration:none; 
}

.small_combo_box{
	BORDER-RIGHT: #ABABAB 1px solid; 
	BORDER-TOP: #ABABAB 1px solid; 
	BORDER-LEFT: #ABABAB 1px solid;	 
	BORDER-BOTTOM: #ABABAB 1px solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	BACKGROUND-COLOR: #FFFFFF; 
	width:80px; 
	height:20px;

}

.reg_combo_box{
	BORDER-RIGHT: #ABABAB 1px solid; 
	BORDER-TOP: #ABABAB 1px solid; 
	BORDER-LEFT: #ABABAB 1px solid;	 
	BORDER-BOTTOM: #ABABAB 1px solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	BACKGROUND-COLOR: #FFFFFF; 
	width:300px; 
	height:15px;

}

.reg_combo_multi{
	BORDER-RIGHT: #ABABAB 1px solid; 
	BORDER-TOP: #ABABAB 1px solid; 
	BORDER-LEFT: #ABABAB 1px solid;	 
	BORDER-BOTTOM: #ABABAB 1px solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	BACKGROUND-COLOR: #FFFFFF; 
	width:300px; 
	height:50px;
}

.reg_combo{
	BORDER-RIGHT: #ABABAB 1px solid; 
	BORDER-TOP: #ABABAB 1px solid; 
	BORDER-LEFT: #ABABAB 1px solid;	 
	BORDER-BOTTOM: #ABABAB 1px solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	BACKGROUND-COLOR: #FFFFFF; 
	width:90px; 
	height:15px;

}
.breadCrumbf{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:bold;
	color:#012F63;
	text-decoration:none; 
}
.breadCrumbf:hover{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:bold;
	color:#165D98;
	text-decoration:underline; 
}


.reg_textarea{
	BORDER-RIGHT: #ABABAB 1px solid; 
	BORDER-TOP: #ABABAB 1px solid; 
	BORDER-LEFT: #ABABAB 1px solid;	 
	BORDER-BOTTOM: #ABABAB 1px solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	BACKGROUND-COLOR: #FFFFFF; 
	width:170px; 
	height:100px;

}

.policy_textarea{
	BORDER-RIGHT: #ABABAB 1px solid; 
	BORDER-TOP: #ABABAB 1px solid; 
	BORDER-LEFT: #ABABAB 1px solid;	 
	BORDER-BOTTOM: #ABABAB 1px solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	BACKGROUND-COLOR: #FFFFFF; 
	width:470px; 
	height:100px;

}
.bar {
	background:#006699;
}
h1 {
	color:#ff7800;
	font:bold 16px verdana;
}	

h3 {
	color:#ff7800;
	font:bold 13px verdana;
}		
.cpanel {
	padding:0;
	margin:0;
}	

.cpanel a{
	padding:0;
	margin:0;
	text-decoration:none;
	font:bold 12px verdana;
	color:#006699;
}	
.cpanel a span{
	padding:1px;
	margin:0;
}	

.cpanel a:hover{
	text-decoration:none;
	color:#ff7800;
}	
.err_txt{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:12px; 
	color:red; 
	text-decoration:none; 

}
/* Row bg */
.altRow {
background: #EBF7FF;
}

/* Red Links */
.link_red{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:bold;
	color:red;
	text-decoration:none; 
}

.link_red:hover{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:bold;
	color:#165D98;
	text-decoration:underline; 
}
/* Bread Crumb */
.breadCrumb{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:14px; 
	font-weight:bold;
	color:#012F63;
	text-decoration:none; 
}

.breadCrumb:hover{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:14px; 
	font-weight:bold;
	color:#165D98;
	text-decoration:underline; 
}
/* Links */
.blueLinks{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:bold;
	color:#012F63;
	text-decoration:none; 
}

.error{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:normal;
	color:#FF0000;
	text-decoration:none; 
}

.blueLinks:hover{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:bold;
	color:#165D98;
	text-decoration:underline; 
}
/* Button */
.button{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:bold;
	color:#165D98;
	border: 1px solid #666;
	width: 100px;
}
/*Large Button */
.largebutton{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight:bold;
	color:#165D98;
	border: 1px solid #666;
	width: 153px;
}
.smallFont{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:10px; 
	color:#012F63;
	text-decoration:none; 
}
.mediumFont{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:9pt; 
	color:#012F63;
	text-decoration:none; 
}
.mediumFontf{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:11px; 
	color:#012F63;
	text-decoration:none; 
}
/* Form */
table{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:9pt;
}
.selOpt_par{
	font-weight:bold;
	background-color:#F3F3F3
}
.selOpt_sub{
	font-weight:normal;
	font-size:8pt;
}

.message{
	font-weight:bold;
}
.login_button{
background-image:url(../images/index_42.gif); 
width:68px;
height:27px;
border:none;
display:block;
cursor:pointer
}

.error-message{
	font-family:Arial, Verdana, Helvetica, sans-serif; 
	font-size:11px; 
	color:#ff0000;
}

.tableBorder
{
	border:2px  #FBE9BD double;
}
.tableBorder1
{
	border:0  #FBE9BD double;
} 
.thclass{
color:#FFFFFF;
font-weight:bold;
font-size:12px;
}

.thclass a:link,.thclass a:visited,.thclass a:active{color:#FFFFFF;font-weight:bold;font-size:12px;text-decoration:none;
}

.thclass a:hover{
text-decoration:underline;font-weight:bold;font-size:12px;
}

#bluebox #inside {
border-left: 1px solid #E6E6E6;
border-right: 1px solid #E6E6E6;
background:#ffffff;
color: #666;font-family:arial; font-size:12px;
padding:6px;
margin-top:-2px;
display:block;
}

#bluebox #inside table{font-size:12px;}


.formSectHeader {
    background-color:#3D76BB;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-bottom-color:#33333;
    font-family:Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    font-size:12px;
    font-weight:bold;
}
.rowHeader {
	color:#FFFFFF;
}

.custom_link{
	
	text-decoration:none;
	cursor:pointer;
	}
	
	.current{
	color:#102F5E;
	text-decoration:none;
	cursor:pointer;
	font-weight:bold;
	}
	
	
.btn{background:#3D76BB; color:#FFFFFF; border:none; padding:2px; margin:2px 2px; font-weight:bold; cursor:pointer; overflow:hidden; width:auto;text-decoration:none;}

.error2{color:red;}

label.txt{width:110px; float:left; text-align:right; margin:0 10px 5px 0; color:#000;}

input.txtbox{width:235px; background-color:#FFF; border:1px solid #d0d0d0; float:left; margin-bottom:5px; font:normal 11px/15px Arial, Helvetica, sans-serif; padding:2px 0 2px 2px;}

select.dropdown{width:135px; background-color:#FFF; border:1px solid #d0d0d0; float:left; margin-bottom:5px; font:normal 11px/15px Arial, Helvetica, sans-serif; padding:2px 0 2px 2px;}

select.list{width:70px; background-color:#FFF; border:1px solid #d0d0d0; margin-bottom:5px; margin-right:4px; font:normal 11px/15px Arial, Helvetica, sans-serif; padding:2px 0 2px 2px;}